In [4]:
import pandas as pd
import numpy as np

# raw data
assessments = pd.read_csv("assessments.csv")
student_info = pd.read_csv("studentInfo.csv")
student_assessment = pd.read_csv("studentAssessment.csv")
student_reg = pd.read_csv("studentRegistration.csv")
student_vle = pd.read_csv("studentVle.csv")
vle_agg = student_vle.groupby(['code_module', 'code_presentation', 'id_student']).agg(
total_clicks=('sum_click', 'sum'), # to get the total number of clicks a student made in the VLE.
n_activities=('id_site', 'nunique') # to see how many different activities students accessed.
).reset_index()

student_assessment = pd.merge(student_assessment, assessments[['id_assessment', 'code_module', 'code_presentation']], 
                             on='id_assessment', how='left')

merge_keys = ['code_module', 'code_presentation', 'id_student']
df = pd.merge(student_info, student_assessment, on=merge_keys, how='left') # to preserve all students, even if they lack VLE/assessment data
df = pd.merge(df, student_reg, on=merge_keys, how='left')
df = pd.merge(df, vle_agg, on=merge_keys, how='left')

duplicates = df.duplicated(subset=merge_keys, keep=False) # to mark all duplicates as True, including the first occurrence.
print("Number of duplicates:", duplicates.sum())
print("Duplicate examples:\n", df[duplicates].sort_values(merge_keys))

# Filter the result to keep only those students who have more than one unique assessment.
# These are the students with possible duplicates due to multiple assessment records.
dup_assessments = df.groupby(merge_keys)['id_assessment'].nunique().reset_index()
dup_assessments = dup_assessments[dup_assessments['id_assessment'] > 1]

print(f"Students with multiple assessments: {len(dup_assessments)}")
print(dup_assessments.head())

true_duplicates = df[df.duplicated(keep=False)]
print(f"Fully identical duplicates: {len(true_duplicates)}")

# Example of a student with duplicates (to compare the records)
sample_student = df[df['id_student'] == 11391]
print(sample_student[['id_assessment', 'score', 'date_submitted']])

print(df[df['id_assessment'].isna()].head()) # to show students missing assessment data

Number of duplicates: 171392
Duplicate examples:
        code_module code_presentation  id_student gender               region  \
0              AAA             2013J       11391      M  East Anglian Region
1              AAA             2013J       11391      M  East Anglian Region
2              AAA             2013J       11391      M  East Anglian Region
3              AAA             2013J       11391      M  East Anglian Region
4              AAA             2013J       11391      M  East Anglian Region
...            ...               ...         ...    ...                  ...
180657         GGG             2014J     2684003      F     Yorkshire Region
180658         GGG             2014J     2684003      F     Yorkshire Region
180659         GGG             2014J     2684003      F     Yorkshire Region
180660         GGG             2014J     2684003      F     Yorkshire Region
180661         GGG             2014J     2684003      F     Yorkshire Region

       highest_education imd_band age_band  num_of_prev_attempts  \
0       HE Qualification  90-100%     55<=                     0
1       HE Qualification  90-100%     55<=                     0
2       HE Qualification  90-100%     55<=                     0
3       HE Qualification  90-100%     55<=                     0
4       HE Qualification  90-100%     55<=                     0
...                  ...      ...      ...                   ...
180657  HE Qualification   50-60%    35-55                     0
180658  HE Qualification   50-60%    35-55                     0
180659  HE Qualification   50-60%    35-55                     0
180660  HE Qualification   50-60%    35-55                     0
180661  HE Qualification   50-60%    35-55                     0

        studied_credits disability final_result  id_assessment  \
0                   240          N         Pass         1752.0
1                   240          N         Pass         1753.0
2                   240          N         Pass         1754.0
3                   240          N         Pass         1755.0
4                   240          N         Pass         1756.0
...                 ...        ...          ...            ...
180657               30          N  Distinction        37437.0
180658               30          N  Distinction        37438.0
180659               30          N  Distinction        37439.0
180660               30          N  Distinction        37440.0
180661               30          N  Distinction        37441.0

        date_submitted  is_banked  score  date_registration  \
0                 18.0        0.0   78.0             -159.0
1                 53.0        0.0   85.0             -159.0
2                115.0        0.0   80.0             -159.0
3                164.0        0.0   85.0             -159.0
4                212.0        0.0   82.0             -159.0
...                ...        ...    ...                ...
180657           169.0        0.0   60.0              -28.0
180658            73.0        0.0  100.0              -28.0
180659           150.0        0.0   60.0              -28.0
180660           172.0        0.0  100.0              -28.0
180661           206.0        0.0  100.0              -28.0

        date_unregistration  total_clicks  n_activities
0                       NaN         934.0          55.0
1                       NaN         934.0          55.0
2                       NaN         934.0          55.0
3                       NaN         934.0          55.0
4                       NaN         934.0          55.0
...                     ...           ...           ...
180657                  NaN         616.0          32.0
180658                  NaN         616.0          32.0
180659                  NaN         616.0          32.0
180660                  NaN         616.0          32.0
180661                  NaN         616.0          32.0

[171392 rows x 20 columns]
Students with multiple assessments: 23323
  code_module code_presentation  id_student  id_assessment
0         AAA             2013J       11391              5
1         AAA             2013J       28400              5
3         AAA             2013J       31604              5
4         AAA             2013J       32885              5
5         AAA             2013J       38053              5
Fully identical duplicates: 0
   id_assessment  score  date_submitted
0         1752.0   78.0            18.0
1         1753.0   85.0            53.0
2         1754.0   80.0           115.0
3         1755.0   85.0           164.0
4         1756.0   82.0           212.0
    code_module code_presentation  id_student gender                region  \
10          AAA             2013J       30268      F  North Western Region
202         AAA             2013J      135335      F   East Anglian Region
516         AAA             2013J      281589      M  North Western Region
547         AAA             2013J      292923      F     South East Region
591         AAA             2013J      305539      F                 Wales

         highest_education imd_band age_band  num_of_prev_attempts  \
10   A Level or Equivalent   30-40%    35-55                     0
202     Lower Than A Level   20-30%     0-35                     0
516       HE Qualification   30-40%     0-35                     0
547  A Level or Equivalent  90-100%    35-55                     0
591     Lower Than A Level   80-90%     0-35                     0

     studied_credits disability final_result  id_assessment  date_submitted  \
10                60          Y    Withdrawn            NaN             NaN
202              180          N    Withdrawn            NaN             NaN
516               60          N         Fail            NaN             NaN
547              180          N    Withdrawn            NaN             NaN
591              120          N    Withdrawn            NaN             NaN

     is_banked  score  date_registration  date_unregistration  total_clicks  \
10         NaN    NaN              -92.0                 12.0         281.0
202        NaN    NaN              -29.0                 30.0          57.0
516        NaN    NaN              -50.0                  NaN          59.0
547        NaN    NaN             -162.0               -121.0           NaN
591        NaN    NaN              -54.0                 -3.0          68.0

     n_activities
10           22.0
202           8.0
516          12.0
547           NaN
591          13.0